button {
	color:white;
	background-color: #222226;
	border: 0px;
	padding: 10px;
	font-size: 32px;
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 6px;
	transition: 0.5s transform;
	transition: 0.5s box-shadow;
	transition: 0.5s background-color;
	position: relative;
	left: 42px;
	top: 210px;
	outline:none;
}

#v1:hover {
	background-color: #26262A;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#v1:active {
	background-color: #29292E;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
	background-color: #26262A;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

button:active {
	background-color: #29292E;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#val1 {
	position: relative;
	top: -20px;
}

#val2 {
	position: relative;
	top: -100px;
}

#v1 {
	color:white;
	background-color: #222226;
	border: 0px;
	padding: 10px;
	font-size: 32px;
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 6px;
	transition: 0.5s transform;
	position: relative;
	left: 42px;
	top: 210px;
	outline:none;
}

#char {
	height: 35px;
	width: 35px;
	background-color:rgba(110, 0, 0, 0);
	border: 0px solid rgba(0, 0, 0, 0);
	font-family: 'Press Start 2P', cursive;
	outline:none;
	font-size: 32px;
	padding-left: 5px;
	position: relative;
	left: 265px;
	bottom: 270px;
}

#b {
	position: relative;
	left: 220px;
	bottom: 350px;
}

#bp {
	height: 130px;
}

#box {
	background-color: #333336;
	width: 380px;
	height: 600px;
	position: absolute;
	top: 100px;
	left: 550px;
	border: 3px solid #222224;
	border-radius: 20px;
}

#display {
	background-color: #F6F6F6;
	position: relative;
	left: 35px;
	bottom: 640px;
	height: 120px;
	width: 300px;
	border: 3px solid #222224;
	border-radius: 5px;
	overflow-x: scroll;
}

.res {
	position: relative;
	bottom: 340px;
	left: 5px;
}

.none {
	color: rgba(0, 0, 0, 0);
}

.val {
	position:relative;
	width: 280px;
	height: 57px;
	background-color:rgba(0, 0, 0, 0);
	border: 0px solid rgba(0, 0, 0, 0);
	font-family: 'Press Start 2P', cursive;
	outline:none;
	font-size: 32px;
	padding-left: 5px;
}

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color: #6B6B71;
	position: absolute;
	left: 50px;
	top: 40px;
} 

#result {
	position: absolute;
	left: 286px;
	bottom: 0px;
	height: 118px;
	width: 132px;
	font-family: 'Press Start 2P', cursive;
	background-color:rgba(0, 0, 0, 0);
	border: 0px solid rgba(0, 0, 0, 0);
	outline:none;
	color: black;
	font-size: 32px;
	padding-left: 10px;
}

@media (max-width: 1160px) {

	#box {
	background-color: #333336;
	width: 380px;
	height: 600px;
	position: absolute;
	top: 40px;
	left: 60px;
	border: 3px solid #222224;
	border-radius: 20px;
	}

	#calculator {
		transform: scale(3);
	}
}
